.vscode/easycode.ignore
Exercises/http-protocol/easycode.ignore
Exercises/react-lists/easycode.ignore
Exercises/redux-toolkit/easycode.ignore
quiz-app/back/easycode.ignore
quiz-app/front/easycode.ignore
